Package: com.shade.oof
Name: oof
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Version: 0.1
Architecture: iphoneos-arm
Description: Can I get an oof in the chat?
Icon: file:///Library/PreferenceLoader/Preferences/oof@2x.png
Depiction: http://shade-zepheri.github.io/depic/index.html?p=com.shade.oof
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
